:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-rose: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-navy: #002439;
    --hover-red: #84283F;
    --h2: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-left: 6.313rem;
    margin-right: 6.313rem;
}

header:first-of-type a {
    margin-top: 0.688rem;
    margin-bottom: 0.625rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
    color: #000000;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--black);
}

header .flex-container>a:last-of-type {
    background-color: var(--primary-rose);
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--off-white);
}

section .flex-container {
    background-color: var(--secondary-blue);
    color: var(--off-white);
    padding: 5.063rem 6.313rem;
    justify-content: space-between;
    text-align: left;
    gap: 2.125rem;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1.688rem;
    line-height: 100%;
    font-weight: bold;
    max-width: 18.875rem;
}

section .flex-container a {
    color: var(--off-white);
    text-decoration: none;
    border:1px solid var(--off-white);
    padding: 0.75rem 1rem;
}

section .flex-container p {
    font-size: 2rem;
    line-height: 150%;
    max-width: 60.875rem;
}

