:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-navy: #002439;
    --hover-red: #84283F;
    --h2: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header {
    margin-left: 6.313rem;
    margin-right: 6.313rem;
}

header .flex-container,
section .flex-container:first-of-type {
    align-items: center;
}

header:first-of-type a {
    margin-top: 0.688rem;
    margin-bottom: 0.625rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
    color: #000000;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--black);
}

header .flex-container>a:last-of-type:hover {
    background-color: var(--hover-red);
}

header .flex-container>a:last-of-type {
    background-color: var(--primary-red);
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--off-white);
}

section>.flex-container:first-of-type {
    background-color: var(--secondary-blue);
    color: var(--off-white);
    padding: 5.063rem 6.313rem;
    justify-content: space-between;
    text-align: left;
    gap: 2.125rem;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1.688rem;
    line-height: 100%;
    font-weight: bold;
    max-width: 18.875rem;
}

section .flex-container a {
    color: var(--off-white);
    text-decoration: none;
    border: 1px solid var(--off-white);
    padding: 0.75rem 1rem;
}

section .flex-container p {
    font-size: 2rem;
    line-height: 150%;
    max-width: 60.875rem;
}

section>.flex-container:nth-of-type(2) {
    background-color: #F1F5F9;
    padding: 5.0625rem 3.75rem 5.0625rem 6.3125rem;
    gap: 4.688rem;
}

.flex-container section {
    background-color: var(--white);
}

.flex-container .flex-container {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    max-width: 53.875rem;
    text-align: left;
}

.flex-container .flex-container section {
    width: 100%;
}

.flex-container .flex-container a {
    color: var(--primary-red);
    text-decoration: underline;
}

.text-wrap a:hover {
    color: var(--hover-red);
}


.text-wrap h2 {
    font-size: 2.25rem;
    font-weight: normal;
}

.flex-container .text-wrap p {
    font-size: 1.125rem;
    line-height: 150%;
}

.text-wrap {
    padding: 1.688rem;
}

.text-wrap ul {
    list-style: none;
    justify-content: center;
}

.flex-container .text-wrap div {
    max-width: 31.188rem;
}

div.text-wrap:first-of-type {
    gap: 2.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container .flex-container section:nth-of-type(3) a {
    padding: 0;
}

.flex-container .games {
    text-align: center;
    max-width: 25.875rem;
    max-height: 50.063rem;
}

.flex-container .games h2 {
    max-width: 22.5rem;
    white-space: nowrap;
    margin-bottom: 3.375rem;
}

.games ul {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}



footer {
    background-color: var(--tertiary-navy);
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 3.375rem 11.813rem;
    gap: 2.125rem;
}